*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
 
/* banner */
.banner{
    height: 40px;
    background-color: #FF6900 ;
    display: flex;
    justify-content: space-around;
    color: white;
}
.changes{
    margin: 0.60rem;
    font-size: small;
}
.site{
    margin: 0.60rem;
}
 .gender>span{
    margin-right: 1rem;
 }

 /* catalogo e-commerce */


 .container{
    width: 80%;
    margin: auto;
 }
.row{
    display: flex;
    margin: 2rem 0;
}
 .col_1{
    width: calc(100% / 12 * 4);
    position: relative;
    margin-right: 1rem ;
 }
 img{
    max-width: 100%;
 }
 .like{
    position: absolute;
    top: 8px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    font-size: 20px;  
 }

 .discount{ 
    color: white;
    background-color: #FF0000;
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 90px;
    left: 0;
    font-size: small;
    text-align: center;
    line-height: 20px;
 }
 .marketing{
    background-color: #008000;
    color: white;
    height: 20px;
    width: 80px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 90px;
    left: 45px;
    font-size: small;
}
#only_marketing{
    background-color: #008000;
    color: white;
    height: 20px;
    width: 80px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 90px;
    left: 0px;
    font-size: small;
 }
.brand{
    color: lightgray;
    font-size: 15px;
}
 .new_price{
    color: #FF0000; 
 }
 .old_price{
    color: grey;
    text-decoration: line-through;
 }
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 100%;
    opacity: 0;
    background-image: url(./img/1b.webp);
    background-size: cover;

}
 .col_1:hover .overlay{
    opacity: 1;
 }

/* footer */

footer{
    background-color: black;
    color: white;
    padding: 1.5rem;
    font-size: small;
}
.bottom_banner{
    display: flex;
    justify-content: space-between;
}